.login-form {
  position: relative;
  background: #ffffff;
  max-width: 320px;
  width: 100%;
  border-top: 5px solid #fff;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  padding: 40px;
  border-radius: 24px;
}


input {
  width: 100%;
  padding: 10px 15px;
  margin: 0 0 20px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 24px;
}

/* Set a style for all buttons */
button {
  font-size: 20px;
  line-height: 30px;
  padding: 10px 15px;
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
  background-color: var(--primary);
  border-radius: 24px;
  width: 100%;
  border: 0px;
  color: #fff;
}

button:hover {
  opacity: 0.8;
}
.error {
  color: var(--primary);
  text-align: center;
  margin-bottom: 5px;
}
