@import "./widgets.css";

* {
  box-sizing: border-box;
}

html, body {
  font-family: 'Fira Sans', sans-serif;
  margin: 0;
  background-color: #fafafa;
}
h1 {
  font-size: 48px;
  padding: 50px 0;
  text-align: center;
  margin: 0 0 20px;
  letter-spacing: -3px;
}

h2 {
  margin: 0 0 20px;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}
